* {
  font-family: Georgia, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  background-color: #0b0c10;
  height: 100vh;
}

.input {
  @apply h-12 pl-3 rounded-md bg-gray w-[90%];
}

.active {
  color: #66fcf1;
  border-bottom: 3px solid #66fcf1;
}
